@import 'bootstrap-variables';
@import "variables";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4 {
    font-weight: 300;
}

a {
    color: $accent-color;
    font-weight: bold;
}

a:hover {
    color: $accent-color;
    font-weight: bold;
    /* make sure browsers use the pointer cursor for anchors, even with no href */
    cursor: pointer;
}

.dropdown-menu {
    color: $text-dark-color;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid green;
}

.ng-invalid:not(form) {
    border-left: 5px solid red;
}

/* other generic styles */

.jh-card {
    padding: 1.5%;
    margin-top: 20px;
    border: none;
}

.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}

.break {
    white-space: normal;
    word-break: break-all;
}

.readonly {
    background-color: #eee;
    opacity: 1;
}

.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.hand,
[jhisortby] {
    cursor: pointer;
}

a.dropdown-item, a.btn {
    &:hover {
        font-weight: normal;
        color: $primary;
    }
}

.object-fit-cover {
    object-fit: cover !important;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
    .alert {
        text-overflow: ellipsis;
        pre {
            background: none;
            border: none;
            font: inherit;
            color: inherit;
            padding: 0;
            margin: 0;
        }
        .popover pre {
            font-size: 10px;
        }
    }
    .toast {
        position: fixed;
        width: 100%;
        &.left {
            left: 5px;
        }
        &.right {
            right: 10px;
        }
        &.top {
            top: 55px;
        }
        &.bottom {
            bottom: 10px;
        }
    }
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

.alert {
    a {
        color: inherit;

        &:hover {
            color: $primary;
        }
    }
}

/* ==========================================================================
entity tables helpers
========================================================================== */

/* Remove Bootstrap padding from the element
http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
@mixin no-padding($side) {
    @if $side == 'all' {
        .no-padding {
            padding: 0 !important;
        }
    } @else {
        .no-padding-#{$side} {
            padding-#{$side}: 0 !important;
        }
    }
}
@include no-padding('left');
@include no-padding('right');
@include no-padding('top');
@include no-padding('bottom');
@include no-padding('all');

/* bootstrap 3 input-group 100% width
http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min {
    width: 1% !important;
}

/* Makes toolbar not wrap on smaller screens
http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > {
    dd {
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 768px) {
    .row.jh-entity-details > {
        dt {
            margin-bottom: 15px;
        }
        dd {
            border-bottom: 1px solid #eee;
            padding-left: 180px;
            margin-left: 0;
        }
    }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default,
.uib-datepicker-popup > li > div.uib-datepicker > table .btn-default {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup > li > div.uib-datepicker > table:focus {
    outline: none;
}

.thread-dump-modal-lock {
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* jhipster-needle-scss-add-main JHipster will add new css style */

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
        @each $prop, $abbrev in (width: w, height: h) {
            @each $size, $length in $sizes {
                .#{$abbrev}#{$infix}-#{$size} { #{$prop}: $length !important; }
            }
        }
    }
}

.dropdown-item--rich {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    .dropdown-item__title {
        flex-grow: 1;
        margin-right: 0.5rem;
    }

    .dropdown-item__icon {
        display: inline-block;
        flex-grow: 0;
        min-width: 28px;
        text-align: center;
    }
}

/* ==========================================================================
toolbars
========================================================================== */
.toolbar {
    padding: 0.75rem 0;
    background-color: $toolbar-bg-color;
    border-bottom: 1px solid $toolbar-separator-color;
    color: $toolbar-text-color;
    height: 54px;

    &--last {
        box-shadow: $toolbar-shadow;
        border-bottom: none;
    }

    &--secondary {
        padding: 0.4rem 0;
        background-color: $toolbar-secondary-bg-color;
        height: 44px;
    }

    &--fixed {
        position: fixed;
        width: 100%;
        z-index: 800;
    }

    &--static {
        position: relative;
        z-index: 800;
    }

    .form-control {
        background-color: rgba($toolbar-text-color, 0.25);
        color: $toolbar-text-color;
        border-color: $toolbar-text-color;
        height: 32px;

        &::-webkit-input-placeholder {
            color: rgba($toolbar-text-color, 0.75);
        }

        &::-moz-placeholder {
            color: rgba($toolbar-text-color, 0.75);
        }

        &::-ms-input-placeholder {
            color: rgba($toolbar-text-color, 0.75);
        }
    }
}

.toolbar-container {
    .toolbar {
        border-bottom: none;
        box-shadow: $toolbar-shadow;
    }
}

.multi-toolbars-container {
    position: fixed;
    width: 100%;
    z-index: 800;

    > :last-child .toolbar {
        border-bottom: none;
        box-shadow: $toolbar-shadow;
    }
}

.wrapper {
    $root: &;
    height: 100%;

    &__content {
        height: 100%;
    }

    &--toolbar {
        #{$root}__content {
            padding-top: 54px;
        }
    }

    &--toolbar-double {
        #{$root}__content {
            padding-top: 98px;
        }
    }
}

.scrollable-container {
    height: 100%;
    overflow-y: auto;

    &--horizontal {
        overflow-x: auto;
        overflow-y: hidden;
    }
}

.loading {
    display: block;
    margin: 1rem auto;
    width: 64px;
    height: auto;
}

.sign-in-divider {
    $root: &;

    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0;

    &:before, &:after {
        content: '';
        position: relative;
        display: block;
        flex-grow: 1;
        height: 1px;
        width: 100%;
        background: $text-color;
    }

    &__label {
        padding: 0 1rem;
        flex-grow: 0;
    }

    &--md-vertical {
        @include media-breakpoint-up(md) {
            flex-direction: column;
            margin: 0 1rem;
            height: 100%;

            &:before, &:after {
                width: 1px;
                height: 100%;
            }

            #{$root}__label {
                padding: 1rem 0;
            }
        }
    }
}

.page-container {
    margin-top: 2rem;

    @include media-breakpoint-up(md) {
        max-width: 820px;
    }

    @include media-breakpoint-up(lg) {
        max-width: 960px;
    }
}
