<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="analysisSettingCollection">
            <h2><span jhiTranslate="apigatewayApp.analysisAnalysisSettingCollection.detail.title">Analysis Setting Collection</span> {{analysisSettingCollection.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="apigatewayApp.analysisAnalysisSettingCollection.analysisType">Analysis Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'apigatewayApp.AnalysisType.' + analysisSettingCollection.analysisType}}">{{analysisSettingCollection.analysisType}}</span>
                </dd>
                <dt><span jhiTranslate="apigatewayApp.analysisAnalysisSettingCollection.analysisInputType">Analysis Input Types</span></dt>
                <dd>
                    <span jhiTranslate="{{'apigatewayApp.AnalysisInputType.' + analysisSettingCollection.analysisInputType}}">{{analysisSettingCollection.analysisInputType}}</span>
                </dd>
                <dt><span jhiTranslate="apigatewayApp.analysisAnalysisSettingCollection.settings">Settings</span></dt>
                <dd>
                    <span *ngFor="let settings of analysisSettingCollection.settings; let last = last">
                        <a [routerLink]="['/analysis-setting', settings?.id, 'view' ]">{{settings.label}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/analysis-setting-collection', analysisSettingCollection.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
