<div class="resource" [ngClass]="vertical ? 'resource--vertical' : ''">
    <div class="row no-gutters" *ngIf="vertical">
        <img width="100%"
             height="92"
             class="object-fit-cover mb-2"
             [defaultImage]="'content/images/img-placeholder.png'"
             [lazyLoad]="resource.thumb ? resource.thumb : 'content/images/img-placeholder.png'"
             alt="">
    </div>
    <div class="row no-gutters">
        <div class="col-auto pl-2" *ngIf="!vertical && resource.thumb">
            <img width="64"
                 height="64"
                 class="object-fit-cover"
                 [defaultImage]="'content/images/img-placeholder.png'"
                 [lazyLoad]="resource.thumb"
                 alt="">
        </div>
        <div class="col px-2">
            <div class="row no-gutters">
                <div class="col">
                    <span class="resource__name">{{resource.name | truncateCharacters:(vertical ? 100 : 50)}}</span>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col">
                    <small class="resource__desc">{{resource.shortDesc | truncateCharacters:(vertical ? 160 : 80)}}</small>
                </div>
            </div>
            <div class="row no-gutters justify-content-end resource__icons">
                <div class="col-auto">
                    <a [href]="resource.url" class="text-white" target="_blank" title="See this resource on its web page">
                        <i class="fas fa-external-link-square-alt"></i>
                    </a>
                </div>
                <div class="col-auto px-1" *ngIf="resource.coordinates">
                    <i class="fas fa-map-marker-alt" title="This resource has coordinates"></i>
                </div>
                <div class="col"></div>
                <ng-container *ngIf="entity; else resourceInfo">
                    <div class="col-auto pl-1">
                        <btw-entity-category-icon [category]="entity.category"></btw-entity-category-icon>
                    </div>
                    <div class="col-auto pl-1">
                        <btw-confidence-icon [value]="entity.confidence"></btw-confidence-icon>
                    </div>
                </ng-container>
                <ng-template #resourceInfo>
                    <div class="col-auto pl-1">
                        <btw-tweets-counter-icon [value]="tweetsCount"></btw-tweets-counter-icon>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>
