$categories-color: (
    character: #007bff,
    event: #6610f2,
    location: #dc3545,
    organization: #fd7e14,
    person: #daa70d,
    product: #28a745,
    thing: #14999c
);

$category-default-color: #989899;
