<nav class="navbar navbar-dark navbar-expand-md bg-dark fixed-top">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
        <span class="logo-img"></span>
        <span class="navbar-version">{{version}}</span>
    </a>
    <a class="navbar-toggler d-lg-none" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
        <fa-icon icon="bars"></fa-icon>
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
                    <span>
                        <fa-icon icon="home"></fa-icon>
                        <span jhiTranslate="global.menu.home">Home</span>
                    </span>
                </a>
            </li>

            <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="analysis-menu">
                  <span>
                    <fa-icon icon="cogs"></fa-icon>
                    <span jhiTranslate="global.menu.analysis">Analysis</span>
                  </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="analysis-menu">
                    <li *ngFor="let analysisHome of analysesHomepages">
                        <a class="dropdown-item" [routerLink]="analysisHome.route" routerLinkActive="active" (click)="collapseNavbar()">
                            <span>{{analysisHome.title}}</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
            <!--
            <li ngbDropdown class="nav-item dropdown pointer" *ngIf="languages && languages.length > 1">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown">
                    <span>
                        <fa-icon icon="flag"></fa-icon>
                        <span jhiTranslate="global.menu.language">Language</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown">
                    <li *ngFor="let language of languages">
                        <a class="dropdown-item" [btwActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();">{{language | findLanguageFromKey}}</a>
                    </li>
                </ul>
            </li>
            -->
            <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                  <span *ngIf="!getImageUrl()">
                    <fa-icon icon="user"></fa-icon>
                    <span jhiTranslate="global.menu.account.main">
                      Account
                    </span>
                  </span>
                    <span *ngIf="getImageUrl()">
                      <img [src]="getImageUrl()" class="profile-image rounded-circle" alt="Avatar">
                  </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
                    <ng-container *ngSwitchCase="true">
                        <li *btwHasNotAuthority="'ROLE_DEMO'">
                            <a class="dropdown-item" routerLink="account/settings" routerLinkActive="active" (click)="collapseNavbar()">
                                <fa-icon icon="wrench" fixedWidth="true"></fa-icon>
                                <span jhiTranslate="global.menu.account.settings">Settings</span>
                            </a>
                        </li>
                        <li *btwHasNotAuthority="'ROLE_DEMO'">
                            <a class="dropdown-item" routerLink="account/password" routerLinkActive="active" (click)="collapseNavbar()">
                                <fa-icon icon="clock" fixedWidth="true"></fa-icon>
                                <span jhiTranslate="global.menu.account.password">Password</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" (click)="logout()" id="logout">
                                <fa-icon icon="sign-out-alt" fixedWidth="true"></fa-icon>
                                <span jhiTranslate="global.menu.account.logout">Sign out</span>
                            </a>
                        </li>
                    </ng-container>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" (click)="login()" id="login">
                            <fa-icon icon="sign-in-alt" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.login">Sign in</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" routerLink="account/register" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="user-plus" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.register">Register</span>
                        </a>
                    </li>
                    <ng-container *btwHasAnyAuthority="'ROLE_ADMIN'">
                        <li class="dropdown-divider"></li>
                        <li >
                            <a class="dropdown-item" [href]="adminUrl" target="_blank" id="admin-link">
                                <fa-icon icon="user-cog"></fa-icon>
                                <span jhiTranslate="global.menu.admin.main">Administration</span>
                            </a>
                        </li>
                    </ng-container>
                </ul>
            </li>
        </ul>
    </div>
</nav>
